@model Business.Model.Models.Article_S
@{
    ViewBag.Title = "文章管理";
    Layout = "~/Views/Shared/_List.cshtml";
    
    ViewBag.Search = true;

    ViewBag.Modules = "Article";
    ViewBag.Ext = "List";
}


@section SearchConditions
{
  
    <div class="layui-inline line-inline">
        <label class="layui-form-label form-label">文章标题</label>
        <div class="layui-input-inline input-inline">
            @Html.TextBoxFor(c => c.VC_TITLE, new { @class = "layui-input" })
        </div>
    </div>
 }
